
.col-sm-3{
  font-weight: bold;
}

#bulklink,#newquelink{
  text-decoration: none;
  color:rgba(128, 128, 128);
}

#questitle{
  color:grey;
}
.question-grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top:20%;
  margin-left:25%;
  border:2px solid #ccc;
  border-radius:5px;
  width:280px;
 
}
#QuizCard.card-body,.header{
background-color:#F9F5F6;
}

.question-number {
  margin:10px;
  width:50px;
  height:55px;
  border: 1px solid #ccc;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  background-color:rgb(237, 231, 231);
  font-weight:500;
 

}

.question-grid-container {
  top:150px; /* Adjust this value to place it from the top */
  left:120px; /* Adjust this value to place it from the left */
  z-index:900; /* This ensures it stays above other content */
}


.question-number:hover {
  border: 2px solid rgb(96, 96, 188);
}
.question-number.active {
background-color:#365486;
border-color:#365486;
color: white;
}

.containertitle{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.text{
font-style:unset;
color: #365486;
font-weight:500;
/* color:slategrey; */
}


/* .question-details-container{
  margin-top:-10%;
  margin-left:-3%;
  width:840px;
  position: inherit;
} */

#required{
  color:Red;
}

#editicon{
  font-size:30;
  margin-left:90%
}

#delicon{
  font-size:28;
  margin-left:2%;
}

#id{
  font-weight:bold;
}

#filter{
  margin-top:-23%;
  margin-left:75%;
}


#search{
position: relative;
left:50%;
top:-130px !important;
padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width:230px;
}

.quiz-content{
  margin-top: 6%;
}

.question-template-container{
  display: block;
  margin-top: 400px;
}